

html {
    font-family: 'Raleway', sans-serif;
    /*font-size: 0.625em; */
}
h2 {
    font-weight: 700;
    font-size: 4rem;
}
a {
    font-weight: 700;
    color: #000;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 2rem 15px;
    margin: auto;
}

nav li {
    list-style: none;
    transition: 0.5s cubic-bezier(0.5, 0.15, 0.17, 1);
}

.bg-change {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.bg-change a {
    color: #fff;
}

.bg-change a:hover {
    opacity: 0.5;
}

.bg-change .container {
    padding: 0 15px;
}
.bg-change .nav-trigger div {
    background: #fff;
}

header {
    position: fixed;
    z-index: 230;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s cubic-bezier(0.5, 0.15, 0.17, 1);
}

header .container {
    display: flex;
    justify-content: space-between;
}

header ul {
    transform: translateY(50%);
    top: -50%;
    display: flex;
    justify-content: space-between;
}

nav li {
    padding-left: 10px;
}



.top-text-wrapper {
    position: absolute;
    top: 40%;
}
.header-wrapper {
    position: relative;
    background-image: url(../gfx/tlo1.jpg);
    background-position: center;
}

.center {
    margin: 0 auto;
    text-align: center;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.flex-vertical {
    flex-direction: column;
}
.bottom  {
    align-items: flex-end;
}
.margin-top {
    margin-top: 1.5rem;
}
.margin-right {
    margin-right: 30px;
}
.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.top-section {
    height: 100vh;
}
.half-width {
    width: 50%;
}

.table-wrapper {
    box-shadow: 1px 1px 10px #000;
    border: 1px solid rgba(10, 10, 10, 0.25);
    margin: 0 0 1rem 0;
    background-color: #fff;

}
.i-wrapper {
    border-left: 1px solid rgba(10, 10, 10, 0.25);
    flex: 1;
    box-sizing: content-box;
}
.a-wrapper {
    padding: 1rem;
    flex: 3;
}
button, .img-wrapper, .gallery img {
    box-shadow: 1px 1px 10px #000;
} 

.subscribe {
    height: 350px;
    background-image: url(../gfx/tlobor.jpg);
    background-position: center;
}
.subscribe .container {
    display: table;
    height: 100%;
}
.inner-subscribe {
    display: table-cell;
    vertical-align: middle;
}

footer .container {
    padding: 0 15px;
}
footer p {
    padding-top: 1rem;
}


.services-right-h2 {
    position: absolute;
    top: 40%;
    left: -1rem;
}
.services-right {
    position: relative;
}
.logo {
    font-family: 'Pacifico', cursive;
}


/*colors*/
.top-section button {
    background-color: #ff6033;
}
.gallery button {
    background-color: #5585a2;
}
.subscribe button {
    background-color: #96b92c;
}
.blog button {
    background-color: #f72b3b;
}
footer span {
    color: #f72b3b;
}
footer {
    color: #b9b9b9;
    background-color: #262626;
}
.about h2, .services h2, .blog h2, .about p, .blog p {
    color: #fff;
}
.about {
    background-color: #00b4b4;
}
.services {
    background-color: #70bfff;
}
.gallery {
    background-color: #ffe92f;
}
.blog {
    background-color: #b07cf7;
}
.subscribe input {
    border-color: #000;
}
.contact input, textarea {
    background-color: rgba(0, 196, 196, 0.4); 
    border: none;
}
.contact input::placeholder, textarea::placeholder {
    color: #fff;
}
.contact {
    background-image: url(../gfx/contact-bg.jpg);
    background-position: center;
}
form {
    margin-bottom: 2rem;
}

.img-wrapper-inner {
    position: absolute;
    top: 2rem;
    left: 1rem;
    height: 85%;
    width: 85%;       
}

.img-wrapper {
    position: relative;
    color: #fff;   
}
.text-wrapper-inner {
    vertical-align: bottom;
    display: table-cell;
}
.text-wrapper {
    display: table;
    height: 75%;
}
.date {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.75rem;
    border-radius: 5%;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.img-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(transparent, black);
    opacity: .6; 
  }

.nav-trigger {
    display: none;
    width: 35px;
    height: 21px;
    cursor: pointer;
    position: relative;
    z-index: 160;
    margin: 9px 0;
    right: 0;

}
.nav-trigger div {
    height: 3px;
    width: 100%;
    background: #000;
    border-radius: 5px;
    transition: 0.3s ease-in 0s;
    position: absolute;
    left: 0;
}
.nav-trigger div:nth-child(1) {
    top: 0;
}
.dos {
    top: 0;
    bottom: 0;
    margin: auto;
}
.tres {
    bottom: 0;
}



.mobile-nav-open .nav-trigger .uno{
    transform: rotate(45deg) translateY(6px) translateX(7px);
    background: #fff;
}
.mobile-nav-open .nav-trigger .dos {
    opacity: 0;
}
.mobile-nav-open .nav-trigger .tres {
    transform: rotate(-45deg) translateY(-7px) translateX(6px);
    background: #fff;
}
.mobile-nav-open nav {
    display: block;
    background: #000;
    opacity: 0.8;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    text-align: center;
}

.mobile-nav-open  nav a {
    color: #fff;
}
.mobile-nav-open  nav a:hover {
    opacity: 0.6;
}
.mobile-nav-open ul {
    display: block;
}
.mobile-nav-open li {
    padding: 1rem;
    font-size: 1.2rem;
}


@media all and (max-width: 991px) {

    .text-wrapper-inner {
        display: inline-block;
    }
    .img-wrapper-inner {
        top: 0.03rem;
        left: 0.03rem;
    }
    .text-wrapper small {
        display: none;
    }
}

@media all and (max-width: 789px) {
    .nav-trigger {
        display: inline-block;
    }

    nav {
        display: none;
    }
    
}


@media all and (max-width: 580px) {
    .text-wrapper {
        display: none;
    }

    h1 {
        font-size: 3rem;
    }
}



